{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title> Buy Stocks </title>
	<meta charset="utf-8" name="viewport" content=" width = device-width, initial-scale = 1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/buy-style.css' %}">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type="text/javascript" src="{% static 'main/js/buy_sell.js' %}"></script>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>

	<div class="stock-summary">
		<div class="stock-name" id="stockName"> Stock Name </div>
		<div class="stock-details">
			<div class="stock-price" id="stockPrice"></div>
			<div class="stock-change"> &#x2191 2% </div>
		</div>
	</div>


	<div class="navbar">
		<a href="{% url 'main:profile' %}"> <div class="nav"><span>PORTFOLIO</span> </div> </a>
		<a href="{% url 'main:game' %}"><div class="nav "><span>MARKET</span> </div> </a>
		<a href="{% url 'main:leaderboard' %}"><div class="nav"><span>LEADERBOARD</span> </div> </a>
	</div>

	<form class="buy-stocks" method="POST" action="{% url 'main:BuyStocks' id=id %}" id="form">
		
		<div class="stock-buy">
			<div> Number of Stocks Owned </div>
			<div class="stocksOwned" id="stocksOwned"> </div>
		</div>

		<div class="stock-buy">
			<div class=""> Stocks to buy </div>

			<div class="counter">

        		<div class="minus" onclick="minusClick()">-</div>
        		<div class="number"> <input type="number" id="number" name="units" value=0></div>
        		<div class="plus" onclick="plusClick()">+</div>


 			</div>

		</div>

		<div class="stock-buy">
			<div> Total Cost </div>
			<div class="amount">&#8377<input type="text" id="amount" name="amount" value=0></div>
		</div>

		<div class="stock-buy">
			<div> Remaining Balance </div>
			<div class="balance"> </div>
		</div>

		<div class="submit-btn">
			<button class="btn btn-primary btn-block" type="Submit"> Buy! </button>
			<!-- <button class="btn btn-primary btn-block"> Confirm </button> -->
		</div>

	</form>

</body>
</html>
