<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" name="viewport" content=" width = device-width, initial-scale = 1.0">
	<title> Buy Stocks </title>
</head>
	<link rel="stylesheet" type="text/css" href="../../static/main/css/buy-style.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<body>

	<div class="stock-summary">
		<div class="stock-name"> Stock Name </div>
		<div class="stock-details">	
			<div class="stock-price">  </div>
			<div class="stock-change"> &#x2191 2% </div>
		</div>	
	</div>
	
	<div class="nav-bar">
		<div class=""> Home </div>
		<div class=""> Profile </div>
		<div class=""> Leaderboard </div>
	</div>
	
	<div class="buy-stocks"> 
		<div class="stock-buy">
			<div class=""> Stocks to buy </div>
			
			<div class="counter">
        		
        		<div class="minus" onclick="minusClick()"> - </div>
        		<div class="number">  </div>
        		<div class="plus" onclick="plusClick()"> + </div>

 			</div> 
	
		</div>	
		
		<div class="stock-buy"> 
			<div> Total Cost </div>
			<div class="amount"> </div>
		</div>

		<div class="stock-buy"> 
			<div> Remaining Balance </div>
			<div class="balance"> </div>
		</div>

		<div class="submit-btn"> 
			<button class="btn btn-primary btn-block"> Confirm </button>
		</div>
	
	</div>		


<script type="text/javascript" src="../../static/main/js/script.js">

</script>

</body>
</html>