{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Stock Market Stimulation</title>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../../static/main/css/home.css">
	<script type="text/javascript" src="{% static 'main/js/stockDetails.js' %}"></script>
	<script type="text/javascript" src="{% static 'main/js/userDetails.js' %}"></script>
</head>
<body>
	<div class="container">
			<div class="header">
			<div class="profile">
				<div class="user" id="userName"></div>
				<div class="user">Balance: &#8377 <span  id="userBalance"></span></div>
			</div>
			<div class="navbar">

				<a href="{% url 'main:profile' %}"> <div class="nav"><span>PROFILE</span> </div> </a>
		    <a href="{% url 'main:game' %}"><div class="nav active"><span>HOME</span> </div> </a>
	    	<a href="{% url 'main:leaderboard' %}"><div class="nav"><span>LEADERBOARD</span> </div> </a>

			</div>
			</div>
		<div class="main">
		</div>
	</div>

</body>
</html>
