{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Stock Market Stimulation</title>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../../static/main/css/home.css">
	<link rel="stylesheet" type="text/css" href="../../static/main/css/template.css">
	<script type="text/javascript" src="{% static 'main/js/stockDetails.js' %}"></script>
	<script type="text/javascript" src="{% static 'main/js/userDetails.js' %}"></script>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
	<div class="container">
			<div class="header">
				<!-- <div class="title"> <span> STOCK MARKET SIMULATION </span> </div> -->
				<div class="profile">
					<div class="user user1" id="userName"></div>
					<div class="user user2">Balance: &#8377 <span  id="userBalance"></span> <span class="hamburgerIcon"onclick="openNav()">&#9776;</span></div>
				</div>
				<div class="navbar">

					<a href="{% url 'main:international' %}"> <div class="nav"><span>International</span> </div> </a>
		  			<a href="{% url 'main:game' %}"><div class="nav active"><span>Indian</span> </div> </a>

				</div>
			</div>
		<div class="main">
			<div class="stock">
				<div class="shown">
					<div class="name" id="stockName">Stock Name</div>
					<div class="price">&#8377 Stock Price</div>
				</div>
				<div class="hidden">
					<div class="buy" id="myBtn"><button onclick="modalOpen()">BUY</button> </div>
					
					<div class="sell" id="myBtn"><button class="button" onclick="modalOpenS()">SELL</button></div>

					 <div class=""> <button id="myBtn" onclick="modalOpen()">Open Modal</button> </div>
				</div>
			</div>
		</div>

		
		<div class="sideBar">
			<div id="mySidenav" class="sidenav">
				<div class="closebtndiv"> 
					<span>SMS</span>
					<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> 
				</div>
				<div> 
					<a class="links" href="{% url 'main:profile' %}">Portfolio</a> <hr>
					<a class="links" href="{% url 'main:game' %}">Market</a> <hr>
					<a class="links" href="{% url 'main:leaderboard' %}">Leaderboard</a> <hr>
					<a class="links" href="{% url 'main:logout' %}">Logout</a> <hr> 
				</div>
			</div>
		</div>

	
	

				 <!-- The Modal -->
		<div id="myModal" class="modal">

		  <!-- Modal content -->
		 	<div class="modal-content">
			    <div class="modal-header">
			      	<span class="close" id="close">&times;</span>
			      	<h2>Buy!</h2>
			    </div>
			    <div class="modal-body">
			      	<p>Enter stocks to buy</p>
			      	<p><input type="number" min="0" value="0" class="counter" id="purchaseAmount"></p>
			    </div>
			    <div class="modal-footer">
			    	<button class="myButton"> Confirm Purchase </button>
			    </div>
			</div>

		</div>


		<!-- The Modal -->
		<div id="myModals" class="modal">

		  <!-- Modal content -->
		 	<div class="modal-content">
			    <div class="modal-header">
			      	<span class="close" id="closes">&times;</span>
			      	<h2>Sell</h2>
			    </div>
			    <div class="modal-body">
			      	<p>Enter stocks to Sell</p>
			      	<p><input type="number" min="0" value="0" class="counter"  id="sellAmount"></p>
			    </div>
			    <div class="modal-footer">
			    	<button class="myButton"> Confirm Sell </button>
			    </div>
			</div>

		</div>



	</div>
	
<script type="text/javascript">
	// Get the modal
	var modal = document.getElementById('myModal');
	var modals = document.getElementById('myModals');
	var sidenav = document.getElementById('mySidenav');
	// Get the button that opens the modal
	var btn = document.getElementById("myBtn");

	// Get the <span> element that closes the modal
	var span = document.getElementById("close");
	var spans = document.getElementById("closes");
	// When the user clicks the button, open the modal
	var stockId;
	function modalOpen(id) {
	    modal.style.display = "block";
	    stockId = id;
	}

	function modalOpenS(id) {
		modals.style.display = "block";
	    stockId = id;
	}

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
	    modal.style.display = "none";
	}
	spans.onclick = function() {
	    modals.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	    if (event.target == modal || event.target == modals) {
	        modal.style.display = "none";
	        modals.style.display = "none";
	    }
	}


//sidenav

function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}

//form submit

var purchaseButton = document.getElementsByClassName("myButton")[0];
purchaseButton.onclick = function(e) {
	var http = new XMLHttpRequest();
	e.preventDefault();
	var data = "key=9bBo3YmHufzvSYWjbtkURd&email="+sessionStorage.getItem("email");
	data += "&units="+document.getElementById("purchaseAmount").value;
	http.onreadystatechange = function() {
	 	if(http.readyState == 4 && http.status == 200) {
	 		data = JSON.parse(http.responseText);
			if ('error' in data){
				alert(data.error);
			}else{
		 		alert(data.message);
		 	}
		}
	}	
	http.open("POST", '/buystocks/'+stockId, true);
	http.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
	http.send(data);

}

var sellButton = document.getElementsByClassName("myButton")[1];
sellButton.onclick = function(e) {
	var http = new XMLHttpRequest();
	e.preventDefault();
	var data = "key=9bBo3YmHufzvSYWjbtkURd&email="+sessionStorage.getItem("email");
	data += "&units="+document.getElementById("sellAmount").value;
	http.onreadystatechange = function() {
	 	if(http.readyState == 4 && http.status == 200) {
	 		data = JSON.parse(http.responseText);
			if ('error' in data){
				alert(data.error);
			}else{
		 		alert(data.message);
		 	}
		}
	}	
	http.open("POST", '/sellstocks/'+stockId, true);
	http.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
	http.send(data);

}

</script>

</body>
</html>
