<!DOCTYPE html>
<html>
<head>
	<title>Stock Market Stimulation</title>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="../../static/main/css/home.css">
</head>
<body>
	<div class="container">
			<div class="header">
			<div class="profile">
				<div class="user">UJJWAL GANDHI</div> 
				<div class="user">Balance: &#8377 5</div>	
			</div>
			<div class="navbar">
				<div class="nav"> <a href="profile.html"><span>PROFILE</span></a> </div>
				<div class="nav active"> <a href="index.html"><span>HOME</span></a> </div>
				<div class="nav"> <a href="leaderboard.html"><span>LEADERBOARD</span></a> </div>
			</div>
			</div>
		<div class="main">
			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">&#8377 5</div>
				</div>
				<div class="hidden">
					<div class="buy"><a href="buy.html" ><button>BUY</button></a></div>
					<div class="sell"><a href="sell.html"><button class="button">SELL</button></a></div>
				</div>
			</div>

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">&#8377 5</div>
				</div>
				<div class="hidden">
					<div class="buy"><a href="#"><button>BUY</button></a></div>
					<div class="sell"><a href="#"><button class="button">SELL</button></a></div>
				</div>
			</div>

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">&#8377 5</div>
				</div>
				<div class="hidden">
					<div class="buy"><a href="#"><button>BUY</button></a></div>
					<div class="sell"><a href="#"><button class="button">SELL</button></a></div>
				</div>
			</div>

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">&#8377 5</div>
				</div>
				<div class="hidden">
					<div class="buy"><a href="#"><button>BUY</button></a></div>
					<div class="sell"><a href="#"><button class="button">SELL</button></a></div>
				</div>
			</div>

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">&#8377 5</div>
				</div>
				<div class="hidden">
					<div class="buy"><a href="#"><button>BUY</button></a></div>
					<div class="sell"><a href="#"><button class="button">SELL</button></a></div>
				</div>
			</div>

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">&#8377 5</div>
				</div>
				<div class="hidden">
					<div class="buy"><a href="#"><button>BUY</button></a></div>
					<div class="sell"><a href="#"><button class="button">SELL</button></a></div>
				</div>
			</div>

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">&#8377 5</div>
				</div>
				<div class="hidden">
					<div class="buy"><a href="#"><button>BUY</button></a></div>
					<div class="sell"><a href="#"><button class="button">SELL</button></a></div>
				</div>
			</div>

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">&#8377 5</div>
				</div>
				<div class="hidden">
					<div class="buy"><a href="#"><button>BUY</button></a></div>
					<div class="sell"><a href="#"><button class="button">SELL</button></a></div>
				</div>
			</div>

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">&#8377 5</div>
				</div>
				<div class="hidden">
					<div class="buy"><a href="#"><button>BUY</button></a>
					<div class="sell"><a href="#"><button class="button">SELL</button></a></div>
				</div>
			</div>

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">&#8377 5</div>
				</div>
				<div class="hidden">
					<div class="buy"><a href="#"><button>BUY</button></a></div>
					<div class="sell"><a href="#"><button class="button">SELL</button></a></div>
				</div>
			</div>

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">&#8377 5</div>
				</div>
				<div class="hidden">
					<div class="buy"><a href="#"><button>BUY</button></a></div>
					<div class="sell"><a href="#"><button class="button">SELL</button></a></div>
				</div>
			</div>

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">&#8377 5</div>
				</div>
				<div class="hidden">
					<div class="buy"><a href="#"><button>BUY</button></a></div>
					<div class="sell"><a href="#"><button class="button">SELL</button></a></div>
				</div>
			</div>

		</div>
	</div>

<script type="text/javascript" src="../../static/main/js/home.js">

</script>

</body>
</html>