<!DOCTYPE html>
<html>
<head>
	<title>Stock Market Stimulation</title>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../../static/main/css/home.css">
<body>
	<div class="container">
		<div class="header">
			<div class="nav">PROFILE</div>
			<div class="nav">HOME</div>
			<div class="nav">LEADERBOARD</div>
		</div>
		<div class="main">

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">5$</div>
				</div>
				<div class="hidden">
					<div class="buy"><a>BUY</a></div>
					<div class="sell"><a>SELL</a></div>
				</div>
			</div>

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">5$</div>
				</div>
				<div class="hidden">
					<div class="buy"><a>BUY</a></div>
					<div class="sell"><a>SELL</a></div>
				</div>
			</div>

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">5$</div>
				</div>
				<div class="hidden">
					<div class="buy"><a>BUY</a></div>
					<div class="sell"><a>SELL</a></div>
				</div>
			</div>

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">5$</div>
				</div>
				<div class="hidden">
					<div class="buy"><a>BUY</a></div>
					<div class="sell"><a>SELL</a></div>
				</div>
			</div>

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">5$</div>
				</div>
				<div class="hidden">
					<div class="buy"><a>BUY</a></div>
					<div class="sell"><a>SELL</a></div>
				</div>
			</div>

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">5$</div>
				</div>
				<div class="hidden">
					<div class="buy"><a>BUY</a></div>
					<div class="sell"><a>SELL</a></div>
				</div>
			</div>

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">5$</div>
				</div>
				<div class="hidden">
					<div class="buy"><a>BUY</a></div>
					<div class="sell"><a>SELL</a></div>
				</div>
			</div>

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">5$</div>
				</div>
				<div class="hidden">
					<div class="buy"><a>BUY</a></div>
					<div class="sell"><a>SELL</a></div>
				</div>
			</div>

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">5$</div>
				</div>
				<div class="hidden">
					<div class="buy"><a>BUY</a></div>
					<div class="sell"><a>SELL</a></div>
				</div>
			</div>

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">5$</div>
				</div>
				<div class="hidden">
					<div class="buy"><a>BUY</a></div>
					<div class="sell"><a>SELL</a></div>
				</div>
			</div>

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">5$</div>
				</div>
				<div class="hidden">
					<div class="buy"><a>BUY</a></div>
					<div class="sell"><a>SELL</a></div>
				</div>
			</div>

			<div class="stock">
				<div class="shown">
					<div class="name">ABC</div>
					<div class="price">5$</div>
				</div>
				<div class="hidden">
					<div class="buy"><a>BUY</a></div>
					<div class="sell"><a>SELL</a></div>
				</div>
			</div>

		</div>
	</div>

<script type="text/javascript">
	
var i=0;
while (i<12){
	document.getElementsByClassName("stock")[i].addEventListener("click", function(){
		this.classList.toggle("show");
	});
	i=i+1;
}

</script>

</body>
</html>