<!DOCTYPE html>
<html>
<head>
	<title>Leaderboard</title>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

<link rel="stylesheet" type="text/css" href="../../static/main/css/leaderboard.css">

</head>
<body>
	<div class="container">
		<div class="header">
			<div class="profile">
				<div class="user">UJJWAL GANDHI</div> 
				<div class="user">Balance: &#8377 50</div>	
			</div>
			<div class="navbar">
				<div class="nav"> <a href="profile.html"><span>PROFILE</span></a> </div>
				<div class="nav"> <a href="index.html"><span>HOME</span></a> </div>
				<div class="nav active"> <a href="#"><span>LEADERBOARD</span></a> </div>
			</div>
		</div>
		<div class="main">
			<div class="leader">Ujjwal </div>
			<div class="leader">Gandhi </div>
			<div class="leader">Rohit </div>
			<div class="leader">Rajhans </div>
			<div class="leader">Shrajati </div>
			<div class="leader">Tandon </div>
			<div class="leader"> </div>
			<div class="leader"> </div>
		</div>
	</div>
</body>
</html>