{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<meta charset="utf-8" name="viewport" content=" width = device-width, initial-scale = 1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/profile.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/template.css' %}">
	<script type="text/javascript" src="{% static 'main/js/userDetails.js' %}"></script>
	<script type="text/javascript" src="{% static 'main/js/profile.js' %}"></script>
	<script type="text/javascript" src="{% static 'main/js/conversionRate.js' %}" ></script>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
</head>
<body>

	<div class="container">
			<div class="header header1">
				<!-- <div class="title"> <span> STOCK MARKET SIMULATION </span> </div> -->
				<div class="profile profile1">
					<div class="user user1" id="userName"></div>
					<div class="user user2">Balance: &#8377 
						<span  id="userBalance"></span>
						<span class="conversionRate"> (&#36 1 = &#8377 <span id="conversionRate"></span>)</span>
						<span class="hamburgerIcon"onclick="openNav()">&#9776;</span></div>
				</div>
				<!-- <div class="navbar">

					<a href="{% url 'main:international' %}"> <div class="nav"><span>International</span> </div> </a>
		  			<a href="{% url 'main:game' %}"><div class="nav"><span>Indian</span> </div> </a>

				</div> -->
			</div>
		<div class="main main1">

			<div class="stock">
					<div class="profile-details"><b>NAME</b></div>
					<div class="profile-details"><b>UNITS</b></div>
					<div class="profile-details"><span><b>PRICE</b></span></div>
					<div class="profile-details"><b>TOTAL</b></div>

			</div>
		</div>

		<div id="mySidenav" class="sidenav">
			<div class="closebtndiv">
			<span> SMS </span> 
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> 
			</div>
			<div> 
				<a class="links" href="{% url 'main:profile' %}">Portfolio</a> <hr>
				<a class="links" href="{% url 'main:game' %}">Market</a> <hr>
				<a class="links" href="{% url 'main:leaderboard' %}">Leaderboard</a> <hr> 
				<a class="links" href="{% url 'main:news' %}">News </a> <hr>
				<a class="links" href="{% url 'main:logout' %}">Logout</a> <hr>
			</div>
		</div>


	</div>

</body>
</html>
