{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<meta charset="utf-8" name="viewport" content=" width = device-width, initial-scale = 1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/profile.css' %}">
	<script type="text/javascript" src="{% static 'main/js/userDetails.js' %}"></script>
	<script type="text/javascript" src="{% static 'main/js/profile.js' %}"></script>
</head>
<body>

	<div class="container">
			<div class="header">
				<div class="profile">
					<div class="user" id="userName"></div>
					<div class="user">Balance: &#8377 <span id="userBalance"></span></div>
					<div class="user"> <a href="{% url 'main:logout' %}">Logout</a> </div>
				</div>
				<div class="navbar">

		    		<a href="{% url 'main:profile' %}"> <div class="nav active"><span>PROFILE</span> </div> </a>
		    		<a href="{% url 'main:game' %}"><div class="nav"><span>HOME</span> </div> </a>
		    		<a href="{% url 'main:leaderboard' %}"><div class="nav"><span>LEADERBOARD</span> </div> </a>
		    	</div>
		
			</div>
		<div class="main">

			<div class="stock">
					<div class="profile-details">STOCK NAME</div>
					<div class="profile-details">STOCKS OWNED</div>
					<div class="profile-details">PRICE PER STOCK</div>
					<div class="profile-details">TOTAL PRICE</div>

			</div>
		</div>
	</div>

</body>
</html>
