body {
	margin: 0;
	padding: 0;
	background-color: #e3e3e3;
}

.stock-summary {
	background: #17d891;
	display: flex;
	text-align: center;
	font-size: 3vh;
	color: white;
	padding: 2vh 0;
}

.stock-summary .stock-name {
	flex: 1;
	margin: auto 0;
}

.stock-summary .stock-details {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.stock-summary .stock-price {
	flex: 1;
	padding: 1vh 0;
}

.stock-summary .stock-change {
	flex: 1;
}

/*.nav-bar {
	display: flex;
	justify-content: space-around;
	padding: 2vh 0;
	font-size: 3vh;
	background: #a0f7d7;
	color: white;
}

.nav-bar div {
	text-align: center;
	transition: all 0.2s linear;
	width: 40%;
	padding: 5px 0;
	cursor: pointer;
}
.nav-bar div a {
	text-decoration: none;
	color: black;
}
.nav-bar div a:hover {
	color: black;
}
.nav-bar div:hover {
	background-color: #17d891;
	border-radius: 10%;
}*/


.navbar{
	width: 100%;
	height: 75px;
	background: #a0f7d7;
	display: flex;
	justify-content: space-around;
}
.nav{
	padding: 0 5px;
	margin-top: 2.5px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	border-radius: 10%;
	transition: background 300ms;
	/*flex-basis: 30%;*/
	cursor: pointer;
}


.navbar a {
	text-decoration: none;
	color: black;
	flex-basis: 30%;
}
.navbar a:hover {
	color: black;
	text-decoration: none;
}

.nav:hover:not(.active){
	background: rgba(24, 242, 162, 0.8);
}




.buy-stocks {
	display: flex;
	flex-direction: column;
	margin-top: 2vh;
	margin: 0 2vw;
	font-size: 2.5vh;
}

.stock-buy {
	display: flex;
	flex-direction: row;
	background-color: #f4f4f4;
	border-radius: 15px;
	margin: 1vh 0;
	padding: 0 1vh;
}
.stock-buy div {
	flex: 1;
	padding: 2vh 0;

}

.submit-btn {
	margin: 3vh auto;
}

.btn {
	height: 5vh;
	width: 10vw;
}

.counter {
	background: white;
	border-radius: 15px;
	height: 5vh;
	margin: auto;
	width: 6vw;
	display: flex;
	position: relative;

}


.minus {
	flex: 1;
	position: absolute;
	top: -30px;
	left: 10px;
	font-size: 7vh;
	cursor: pointer;
	color: red;
}

.number {
	font-size: 28px;
	left: 77px;
	top: -16px;
	position: absolute;
}

.number input {
	width: 50px;	
}

.plus {
	position: absolute;
	color: green;
	left: 140px;
	top: -26px;
	font-size: 40px;
	cursor: pointer;
}

.amount input {
	width: 100px;
}
