body{
	margin: 0;
	padding: 0;
	background-color: #e3e3e3;
}

.header{
	position: fixed;
	width: 100%;
	height: 175px;
	display: flex;
	z-index: 2;
}

.profile{
	height: 100px;
	width: 100%;
}

.navbar{
	position: absolute;
	top: 100px;
	width: 100%;
	height: 75px;
	background: #a0f7d7;
}

.user{
	height: 100px;
	width: 50%;
	float: left;
	background: white;
	text-align: center;
	line-height: 100px;
	background: #17d891;
}

.nav{
	margin: 5px 0.5%;
	width: 30%;
	float: left;
	height: 65px;
	line-height: 65px;
	text-align: center;
	border-radius: 10%;
	transition: background 300ms;
}

.nav:nth-child(3){
	width: 37%;
}

.nav:hover:not(.active){
	background: rgba(24, 242, 162, 0.8);
}

.active{
	background: #17d891;
}

.main{
	position: absolute;
	top: 175px;
	width: 100%;
	display: flex;
	background: white;
	flex-wrap: wrap;
}

.stock{
	width: 100%;
	height: 100px;
	background: #e3e3e3;
	border-radius: 10%;
	margin: 0.5vh;
	line-height: 100px;
	transition: height 300ms;
	overflow: hidden;
}

.stock.show{
	height: 200px;
}

.name, .price, .buy, .sell{
	width: 50%;
	float: left;
	text-align: center;
}

/* WORKS WITHOUT THIS SHIT
.hidden{
	width: 100%;
	height: 0;
	transition: height 300ms;
	text-align: center;
}

.hidden.showen{
	height: 100px;
}
*/

a{
	text-decoration: none;
}

.buy a{
	padding: 15px 20px;
	color: white;
	background: #25b256;
	transition: background 500ms;
}

.buy a:hover{
	background: #23aa52;
}

.sell a{
	padding: 15px 20px;
	color: white;
	background: #f71b1b;
	transition: background 500ms;
}

.sell a:hover{
	background: #e51919;
}

/*@media screen and (max-width: 375px){
	.nav:nth-child(3){
		padding: 0 10% 0 2%;
	}
}*/