body{
	margin: 0;
	padding: 0;
	background-color: #e3e3e3;
	font-family: 'Montserrat';
}

/*.header{
	position: fixed;
	width: 100%;
	height: 126px;
	display: flex;
	z-index: 2;
	color: white;
}
.profile:nth-child(1) {
	font-size: 20px;
}

.title {
	width: 100%;
	height: 100px;
}
.profile{
	height: 100px;
	width: 100%;
	background: #0091EA;
}

.navbar{
	position: absolute;
	top: 75px;
	width: 100%;
	height: 51px;
	background: #E1F5FE;
	display: flex;
	justify-content: space-around;
}

.user{
	height: 75px;
	float: left;
	background: white;
	text-align: center;
	line-height: 75px;
	background: #0091EA;
}

.user1 {
	width: 30%;
}
.user2{
	width: 70%;
}

.nav{
	padding: 0 5px;
	margin-top: 2.5px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 15px;
	transition: background 300ms;
	flex-basis: 30%;
	cursor: pointer;
}

.hamburgerIcon {
	cursor: pointer;
	font-size: 30px;
	position: absolute;
	right: 1.5vw;
	position: absolute;
	right: 1.5vw;
	top: -3px;
}

.navbar a {
	text-decoration: none;
	color: black;
	flex-basis: 50%;
	font-size: 3vh;
}
.navbar a:hover {
	color: black;
}

.nav:hover:not(.active){
	background: rgba(0, 176, 255, 0.5);
}

.active{
	background: #00B0FF;
}*/

.main{
	position: absolute;
	top: 126px;
	width: 100%;
	background: #e3e3e3;
}

.stock{
	width: 100%;
	height: 10vh;
	background: white;
	/*border-radius: 15px;*/
	margin: 0.5vh auto;
	line-height: 10vh;
	transition: height 300ms;
	overflow: hidden;
	max-width: 1250px;
	box-shadow: 2px 2px 2px 2px #9e9e9e;
}

.stock.show{
	height: 22vh;
}

.shown, .hidden{
	text-align: center;
	display: flex;
	text-align: center;
}

.shown div, .hidden div {
	flex-basis: 50%;
}

/* WORKS WITHOUT THIS SHIT
.hidden{
	width: 100%;
	height: 0;
	transition: height 300ms;
	text-align: center;
}

.hidden.shown{
	height: 100px;
}
*/

a{
	text-decoration: none;
}

.buy button{
	padding: 12px 19px;
	color: white;
	background: #25b256;
	transition: background 500ms;
}

.buy button:hover{
	background: #23aa52;
}

.sell button{
	padding: 12px 19px;
	color: white;
	background: #f71b1b;
	transition: background 500ms;
}

.sell button:hover{
	background: #e51919;
}

button {
	cursor: pointer;
	border-radius: 0;
}

.disabled {
	cursor: not-allowed;
	opacity: 0.5;
}









/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    margin-top: 154px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0px; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0px; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #0288D1;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 15px 16px;
    background-color: #ffffff;
    color: white;
}

#myModals .modal-header {
	background: #FF1744;
}

.modalSubmit {
	height: 100%;
	padding: 5px 0px;
	background: #0091EA;
	color: white;
	border-radius: 0;
	box-shadow: 0;
	border: none;
}


.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:11px;
	padding: 16px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.myButton:active {
	position:relative;
	top:1px;
}


.counter {
	height: 26px;
	width: 70px;
	font-size: 17px;
}


@media all and (min-width: 700px) {
	.modal-content {
		width: 40%;
	}
}

@media all and (min-width:350px ) and (max-width:700px ) {
	.modal-content {
		width: 80%;
	}
}
@media all and (max-width:350px ) {
	.modal-content {
		width: 90%;
	}

/*.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 10;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/