body{
	margin: 0;
	padding: 0;
	background-color: #e3e3e3;
}

.header{
	position: fixed;
	width: 100%;
	height: 175px;
	display: flex;
	z-index: 2;
}

.profile{
	height: 100px;
	width: 100%;
}

.navbar{
	position: absolute;
	top: 100px;
	width: 100%;
	height: 75px;
	background: #a0f7d7;
	display: flex;
	justify-content: space-around;
}

.user{
	height: 100px;
	width: 50%;
	float: left;
	background: white;
	text-align: center;
	line-height: 100px;
	background: #17d891;
}

.nav{
	padding: 0 5px;
	margin-top: 2.5px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	border-radius: 15px;
	transition: background 300ms;
	/*flex-basis: 30%;*/
	cursor: pointer;
}


.navbar a {
	text-decoration: none;
	color: black;
	flex-basis: 30%;
}
.navbar a:hover {
	color: black;
}

.nav:hover:not(.active){
	background: rgba(24, 242, 162, 0.8);
}

.active{
	background: #17d891;
}

.main{
	position: absolute;
	top: 175px;
	width: 100%;
	height: 100%;
	background: white;
	flex-wrap: wrap;
}

.stock{
	width: 100%;
	height: 100px;
	background: #e3e3e3;
	border-radius: 15px;
	margin: 0.5vh 0;
	line-height: 100px;
	transition: height 300ms;
	overflow: hidden;
}

.stock.show{
	height: 200px;
}

.shown, .hidden{
	text-align: center;
	display: flex;
	text-align: center;
}

.shown div, .hidden div {
	flex-basis: 50%;
}

/* WORKS WITHOUT THIS SHIT
.hidden{
	width: 100%;
	height: 0;
	transition: height 300ms;
	text-align: center;
}

.hidden.showen{
	height: 100px;
}
*/

a{
	text-decoration: none;
}

.buy button{
	padding: 15px 20px;
	color: white;
	background: #25b256;
	transition: background 500ms;
}

.buy button:hover{
	background: #23aa52;
}

.sell button{
	padding: 15px 20px;
	color: white;
	background: #f71b1b;
	transition: background 500ms;
}

.sell button:hover{
	background: #e51919;
}

button {
	cursor: pointer;
	border-radius: 12px;
}

.disabled {
	cursor: not-allowed;
	opacity: 0.5;
}