body{
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: 'Montserrat';
}
	
.header{
	position: fixed;
	width: 100%;
	height: 175px;
	display: flex;
	z-index: 2;
	color: white;
}

.profile{
	height: 100px;
	width: 100%;
}

.navbar{
	position: absolute;
	top: 100px;
	width: 100%;
	height: 75px;
	background: #E1F5FE;
	display: flex;
	justify-content: space-around;
	font-size: 14px;
}

.user{
	height: 100px;
	width: 50%;
	float: left;
	background: white;
	text-align: center;
	line-height: 100px;
	background: #0091EA;
}


.nav{
	padding: 0 5px;
	margin-top: 2.5px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	border-radius: 15px;
	transition: background 300ms;
	flex-basis: 30%;
	cursor: pointer;
}

.navbar a {
	text-decoration: none;
	color: black;
	flex-basis: 30%;
}
.navbar a:hover {
	color: black;
	text-decoration: none;
}




.nav:hover:not(.active){
	background: rgba(0, 176, 255, 0.5);
}

.active{
	background: #00B0FF;
}


.main{
	padding-top: 175px;
	width: 100%;
	display: flex;
	background: #e3e3e3;
	flex-wrap: wrap;
	
}

.profileLeader{
	width: 100%;
	height: 100px;
	background: #ffffff;
	border-radius: 0px;
	margin: 0.5vh 0;
	line-height: 100px;
	padding-left: 2vw;
	display: flex;
	justify-content: space-around;
	max-width: 1200px;
	margin: 1vh auto;
	box-shadow: 2px 2px 2px 2px #9e9e9e;
}

.leader, .balance {
	flex-basis: 50%;
	text-align: center;
}