body{
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: 'Montserrat';
	background: #e3e3e3;
}	
/*.header{
	position: fixed;
	width: 100%;
	height: 126px;
	display: flex;
	z-index: 2;
	color: white;
}

.profile:nth-child(1) {
	font-size: 20px;
}
.title {
	width: 100%;
	height: 100px;
}

.profile{
	height: 100px;
	width: 100%;
}
.profile:nth-child(1) {
	font-size: 20px;
}

.navbar{
	position: absolute;
	top: 75px;
	width: 100%;
	height: 51px;
	background: #E1F5FE;
	display: flex;
	justify-content: space-around;
}

.user{
	height: 75px;
	float: left;
	background: white;
	text-align: center;
	line-height: 75px;
	background: #0091EA;
}
.user1 {
	width: 30%;
}
.user2{
	width: 70%;
}

.nav{
	padding: 0 5px;
	margin-top: 2.5px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 15px;
	transition: background 300ms;
	flex-basis: 30%;
	cursor: pointer;
}

.hamburgerIcon {
	cursor: pointer;
	font-size: 30px;
	position: absolute;
	right: 1.5vw;
	top: -3px;
}


.navbar a {
	text-decoration: none;
	color: black;
	flex-basis: 30%;
	font-size: 3vh;
}
.navbar a:hover {
	color: black;
	text-decoration: none;
}




.nav:hover:not(.active){
	background: rgba(0, 176, 255, 0.5);
}

.active{
	background: #00B0FF;
}
*/

.main{
	position: absolute;
	top: 126px;
/*	padding-top: 152px;*/
	width: 100%;
	display: flex;
	background: #e3e3e3;
	flex-wrap: wrap;
}

.profileLeader{
	width: 100%;
	height: 10vh;
	background: #ffffff;
	border-radius: 0px;
	margin: 0.5vh auto;
	line-height: 10vh;
	padding-left: 2vw;
	display: flex;
	justify-content: space-around;
	max-width: 1200px;
	box-shadow: 2px 2px 2px 2px #9e9e9e;
}

.leader, .balance {
	flex-basis: 50%;
	text-align: center;
}


